<mat-toolbar color="accent" class="toolbar">
    <div>Friend Ship</div>

    <div flex class="fill-space">
      <button aria-label="matches" mat-button><a href="#" class="nav-link">Matches</a></button>
      <button aria-label="friends" mat-button><a href="#" class="nav-link">Friend Lists</a></button>
    </div>

    <div>
      <div class="loginForm">
        <mat-form-field>
          <input matInput class="loginInput spacing" placeholder="User Name" />
        </mat-form-field>

        <mat-form-field>
          <input matInput class="loginInput" placeholder="Password" />
        </mat-form-field>
        <button class="loginInput" mat-button>Login</button>
      </div>
    </div>
</mat-toolbar>
